<!DOCTYPE html>
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Courier+Prime:wght@700&display=swap" rel="stylesheet">
<html lang="en">
<head>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/styles.css') }}">

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Demo Web Server hosting</title>
</head>
<body>
    <header>Welcome to this Web server!</header>

    <section>
    <p>This is a demo web server created in order to understand python's flask framework. Feel free to use this code!
    </p>
    <p>
           </p>
     </section>
    <footer>
        <p>Aditya Raina 2023</p>
    </footer>
    
</body>
</html>